@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: rgb(var(--foreground-rgb));
    background-image: url("/assets/bg_web.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
}
